.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 1rem;
  background-color: red;
  color: #fff;
  font-size: .42rem;
  text-align: center;
  line-height: 1rem;
}

main {
  flex: 1;
  overflow: auto;
}
