.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: .34rem;
    .nav{
        width: 100%;
        height: 3rem;
        padding: .3rem .12rem;
        box-sizing: border-box;
        border-bottom: 1px solid #000;
        display: flex;
        flex-flow: row nowrap;
        overflow: auto;
    }
    .list{
        flex: 1;
        overflow: auto;
        .listBox{
            width: 100%;
            display: flex;
            justify-content: space-around;
            padding: .1rem;
            box-sizing: border-box;
            display: flex;
            flex-flow: wrap row;
        }
    }
    .footer{
        width: 100%;
        height: 1rem;
        background-color: red;
        color: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: .38rem;
        button{
            width: 1.4rem;
            height: .7rem;
            border-radius: .18rem;
            background-color: green;
            border: 0;
            color: #fff;
            font-size: .36rem;
        }
    }
}
