.list {
  width: 100%;
  height: 100%;
  padding: 0 .1rem;
  box-sizing: border-box;
}

.list .edit {
  width: 100%;
  height: 1.2rem;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list .edit span {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list .nav {
  width: 100%;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.list .nav tr {
  display: flex;
}

.list .nav tr th {
  flex: 1;
  text-align: center;
}

.list .nav tr td {
  flex: 1;
  text-align: center;
}

.list .nav .ant-table-pagination {
  display: flex;
}

.list .item {
  width: 100%;
  height: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: red;
  border-bottom: 1px solid #eee;
}

.list .item:nth-child(even) {
  color: green;
}

.list .box {
  width: 100%;
}

.list .box p:first-child {
  width: 3rem;
  height: 3rem;
  border: solid 1px red;
  margin: 1rem auto;
  text-align: center;
  line-height: 2.8rem;
  font-size: 2rem;
}

.list .box p:last-child {
  width: 100%;
  text-align: center;
}
