*{
  margin: 0;
  padding: 0;
}
html,body,#root{
  width: 100%;
  height: 100%;
}
html{
  font-size: 13.333333vw;
}
.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: .34rem;
}
header{
  width: 100%;
  height: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #666;
}
.count{
  margin-left: .1rem;
  font-size: .43rem;
}
main{
  flex:1;
  overflow: auto;
}
footer{
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input{
  width: 70%;
  height: .6rem;
  margin: .2rem 0;
  padding-left: .4rem;
  box-sizing: border-box;
  border: solid 1px;
  outline: none;
}
button{
  width: 50%;
  height: .6rem;
}
.sh{
  display: none;
}