.bar1 {
  margin: 100px auto;
  text-align: center;
  width: 300px;
  height: 10px;
  background-color: #666666;
  border-radius: 3px;
  position: relative;
  user-select: none;
}

.bar1 .ball1 {
  width: 10px;
  height: 30px;
  background-color: red;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.bar1 .ball1 b {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  background-color: #eee;
  position: absolute;
  right: 0;
  top: -100%;
}

.bar1 .ball2 {
  width: 10px;
  height: 30px;
  background-color: green;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.bar1 .ball2 b {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  background-color: #eee;
  position: absolute;
  left: 0;
  top: -100%;
}

.bar2 {
  margin: 100px auto;
  text-align: center;
  width: 10px;
  height: 300px;
  background-color: #666666;
  border-radius: 3px;
  position: relative;
  user-select: none;
}

.bar2 .ball1 {
  width: 30px;
  height: 10px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.bar2 .ball1 b {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  background-color: #eee;
  position: absolute;
  top: 0;
  left: -100%;
}

.bar2 .ball2 {
  width: 30px;
  height: 10px;
  background-color: green;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.bar2 .ball2 b {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  background-color: #eee;
  position: absolute;
  top: 0;
  right: -100%;
}
